<h1><%= @event.name %></h1>
<% if @event.picture %>
	<%= image_tag @event.picture, id: "EventPicture" %>
<% end %><br/><br/>

<strong>Date: </strong><%= @event.date.to_formatted_s(:long_ordinal) %><br/><br/>

<strong>Location: </strong><%= @event.location %><br/><br/>

<%= @event.description %><br/><br/>

<% if alreadyRegistered?(@event) %>
	<p id="RegistrationNotice">You are registered for this event! <%= link_to "(View Details)", event_appointment_path(@event.id, Appointment.find_by(user_id: currentUser.id, event_id: @event.id)) %></p>
<% elsif signedIn? %>
	<%= button_to "Register", new_event_appointment_path(@event), method: :get, class: "btn btn-primary" %><br/>
<% end %>

<% if currentUser && currentUser.admin? %>
	<%= link_to "Edit Event", edit_event_path(@event) %><br/>
	<%= link_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<% if @event.users && @event.users.count > 0 %>
	<h2>Guest List</h2>
	<% @event.appointments.each do |a| %>
		<%= "#{a.user.firstName} #{a.user.lastName}" %><%= " (#{pluralize(a.guestTotal, 'Guest')})" if a.guestTotal > 0 %><br>
	<% end %>
<% end %>



