<% provide(:heading, "EAC News") %>
<% @posts.each do |p| %>
	<div class="postTitle"><%= p.title %></div><br>
	<div class="postName"> By <%= p.user.firstName %> (<%= p.created_at.to_date.strftime("%m-%d-%Y") %>)</div><br>
	<div class="postBody"><%= p.body %><br>
		<% if currentlyAdmin? %>
			<%= link_to "Delete", post_path(p), method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to "Edit", edit_post_path(p) %>
		<% end %>
	</div>
	<br>
<% end %>

<br>
<%= button_to "Add Post", new_post_path, method: :get if currentlyAdmin? %>
