<div id="headerWrapper">
	<div id="headerZone">
		<h1><%= link_to "EAC", root_path %></h1>
		<div id="navLinks">
			<%= link_to 'Sign Out', signout_path if signedIn? %>
			<%= link_to 'Sign In', signin_path if !signedIn? %>
			<%= link_to ' | ', '#' %>
			<%= link_to 'News', '#' %>
			<%= link_to ' | ', '#' %>
			<%= link_to 'Events', events_path %>
		</div>
	</div>
</div>