<!DOCTYPE html>
<html>
<head>
  <title>EAC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' %>

	<div id="content">
		<%= render 'shared/error_messages' %>
		<%= yield %>
	</div>
</body>
</html>
